<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- General Configuration -->
    <add key="AutoSetup" value="true" />
    <add key="MantleProfiles" value="Default, Azure" />
    <!-- General Aws Configuration -->
    <add key="AwsAccessKeyId" value="*" />
    <add key="AwsSecretAccessKey" value="*" />
    <add key="AwsRegionName" value="us-east-1" />
    <!-- General Azure Configuration -->
    <add key="StorageConnectionString" value="*" />
    <!-- General Cache Configuration -->
    <add key="ExpirationTimeSpan" value="00:05:00" />
    <add key="UseSlidingExpiration" value="true" />
    <!-- General Storage Configuration -->
    <add key="Aws.PhotoStorage.BucketName" value="photos" />
    <add key="Aws.ThumbnailStorage.BucketName" value="thumbnails" />
    <add key="Azure.PhotoStorage.ContainerName" value="photos" />
    <add key="Azure.ThumbnailStorage.ContainerName" value="thumbnails" />
    <!-- General Messaging Configuration -->
    <add key="AutoAbandon" value="false" />
    <add key="AutoComplete" value="true" />
    <add key="AutoDeadLetter" value="true" />
    <add key="DeadLetterDeliveryLimit" value="5" />


    <!-- Aws Deployment -->
    <!-- Cache Configuration -->
    <add key="RedisConnectionString" value="*" />
    <!-- Dictionary Storage Configuration -->
    <add key="TableName" value="photometadata" />
    <add key="DynamoDbMantleUserRepository.TableName" value="users" />
    <!-- Messaging Configuration -->
    <add key="ProcessorChannel.QueueName" value="processor" />
    <add key="SaveImageCommandChannel.QueueName" value="processor" />
    <!-- Subscriber Configuration -->
    <add key="PhotoDestination" value="Aws.PhotoStorage" />


    <!-- Azure Deployment -->
    <!-- Cache Configuration -->
    <add key="RedisConnectionString" value="*" />
    <!-- Dictionary Storage Configuration -->
    <add key="TableName" value="photometadata" />
    <!-- DocumentDb Configuration -->
    <add key="DocumentDbMantleUserRepository.DocumentDbEndpointUrl" value="*" />
    <add key="DocumentDbMantleUserRepository.DocumentDbAuthKey" value="*" />
    <add key="DocumentDbMantleUserRepository.DocumentDbDatabaseId" value="identity" />
    <add key="DocumentDbMantleUserRepository.DocumentDbCollectionId" value="users" />
    <!-- Messaging Configuration -->
    <add key="ProcessorChannel.QueueName" value="processor" />
    <add key="SaveImageCommandChannel.QueueName" value="processor" />
    <!-- Subscriber Configuration -->
    <add key="PhotoDestination" value="Azure.PhotoStorage" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>