<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.2.3.1-beta" targetFramework="net452" />
  <package id="AWSSDK.DynamoDBv2" version="3.2.3.1-beta" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.2.0.0-beta" targetFramework="net452" />
  <package id="AWSSDK.SimpleNotificationService" version="3.2.0.0-beta" targetFramework="net452" />
  <package id="AWSSDK.SQS" version="3.2.0.0-beta" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.Azure.DocumentDB" version="1.7.1" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.1.7" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net452" />
</packages>