@model Mantle.Sample.AddressBook.Shared.Person

@{
    ViewBag.Title = "Add a Person";
}

<h2>Add a Person</h2>

@using (Html.BeginForm())
{
    <div style="margin-bottom: 20px; margin-top: 20px;">
        @Html.EditorForModel()
    </div>

    <input type="submit" value="Add a Person" />
}